{% load static %}
{% if user.is_staff %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="ENOTE, bookstore, books" />
    <meta name="author" content="Frank Ssekanjako" />
    <link rel="icon" href="{% static 'images/f1' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Add Book</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/NOTE/bborrow">Borrow Book</a></li>
          <li><a href="/NOTE/acr">Confirm Book Return</a></li>
          <li><a href="/NOTE/dash">Dash 📚📖📕Board</a></li>
          <li><a href="/NOTE/count">Time To Return</a></li>
          <li><a href="/NOTE">Logout</a></li>
        </ul>
      </nav>
    </header>
    <h1>Add Book</h1>

    <form method="post" action="{% url 'add' %}" enctype="multipart/form-data">
      {% csrf_token %}

      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required />

      <label for="is_available">Is Available:</label>
      <input type="checkbox" id="is_available" name="is_available" />

      <label for="image">Image:</label>
      <input type="file" id="image" name="image" />

      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
{% else %}
<p>
<h1>Access denied. Only admins are allowed to access this page.<br>BUBU🤔😔💭</h1>
</p>
{% endif %}
