<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ENOTE, bookstore, books">
    <meta name="author" content="Frank Ssekanjako">
    <title>Borrow Book</title></head>
<body>
    -contain field of the student's number of the that was at signup.
    -contain an option "borrow book, that gives the available books in django database, from which the user selects on search drop down menu.
        "
    - selected book should be marked as not available and should be made not borrowable untill return by user who borrowed it.
    - a confirmation email should be sent to the user's email address on successfull borrow.
    - a countdown time of three days are given to the user to return back the book else a penalty of bunned user web access 
        for 2 months.
    - admin-user confirms only that user has returned the book.
</body>
</html>