{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="ENOTE, bookstore, books" />
    <meta name="author" content="Frank Ssekanjako" />
    <link rel="icon" href="{% static 'images/f1' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>reminder.!</title>
</head>

<body>
    <h1>{{user.username }}, You have already borrowed a book.<br> Please return it before borrowing another one.</h1>
</body>

</html>