{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="ENOTE, bookstore, books" />
  <meta name="author" content="Frank Ssekanjako" />
  <link rel="icon" href="{% static 'images/f1' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ user.username }}'s countdown</title>
    <script>
        function countdown() {
          // Get the countdown date from the user's session storage
          var countDownDate = sessionStorage.getItem("countDownDate");

          // If the countdown date is not set, calculate and set it
          if (!countDownDate) {
            countDownDate = new Date();
            countDownDate.setHours(countDownDate.getHours() + 72); // Add 72 hours (3 days)
              sessionStorage.setItem("countDownDate", countDownDate);
            } else {
              countDownDate = new Date(countDownDate); // Convert the stored date string back to a Date object
            }

            // Update the countdown every second
            var countdownInterval = setInterval(function() {
                // Get the current date and time
                var now = new Date().getTime();

                // Find the time difference between now and the countdown date
                var timeDifference = countDownDate - now;

                // Calculate days, hours, minutes, and seconds
                var days = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
                var hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

                // Display the countdown
              document.getElementById("countdown").innerHTML =
                days + " days, " + hours + " hours, " + minutes + " minutes, " + seconds + " seconds";

                // If the countdown is finished, display a message
                if (timeDifference < 0) {
                    clearInterval(countdownInterval);
                    document.getElementById("countdown").innerHTML = "Time's up!";
                }
            }, 1000);
        }
    </script>
</head>

<body onload="countdown()">
  <header>
    <nav>
      <ul>
        <li><a href="/NOTE/bborrow">Borrow Book</a></li>
        <li><a href="/NOTE/acr">Confirm Book Return</a></li>
        <li><a href="/NOTE/add">Add Book</a></li>
        <li><a href="/NOTE/dash">Dash 📚📖📕Board</a></li>
        <li><a href="/NOTE">Logout</a></li>
      </ul>
    </nav>
  </header>
    <h1>{{ user.username }}'s Countdown</h1>
    <p id="countdown"></p>
</body>

</html>
