{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="ENOTE, bookstore, books" />
    <meta name="author" content="Frank Ssekanjako" />
    <link rel="icon" href="{% static 'images/f2' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>ENOTE Bookstore</title>
  </head>
  <body>
    <h1>Welcome to ENOTE Bookstore 🤝🎶🫱🏾‍🫲🏿</h1>
    <h3><p>Feel at home as you get serviced.</p></h3>
    <br /><br />
    <a href="/NOTE/signup"><button>Register Here ✍🏾✍🏼</button></a><br />
    <p>If you already Have an account, please</p>
    <a href="/NOTE/login"><button>LOGIN here. 🧑🏽‍🎤👨🏽‍🎤👩🏽‍🎤</button></a>
  </body>
</html>
